.register {
  display: flex;
  justify-content: center;
}
.register__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
}
.register__container input {
  padding: 10px;
  border: 1px solid var(--color-button);
  font-size: 15px;
  outline: none;
}
.register__button {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-footer);
  background-color: var(--color-button);
  color: var(--color-footer);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
